.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: #FFBD33;
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
  font-family: 'Noto Serif', serif;
  margin-top: 50px;
}

.description {
  /* font-family: 'Encode Sans Expanded', sans-serif; */
  font-family: 'Noto Serif', serif;
  /* font-family: 'Tektur', cursive;
  font-family: 'Ubuntu', sans-serif; */
  margin-top: -80px;
  margin-bottom: 100px;
}

.page-name{
  /* font-family: 'Encode Sans Expanded', sans-serif; */
  font-family: 'Righteous', cursive;
  font-size: 120px;
  margin-top: 300px;
}

